/*
Theme Name: YourDayDesign
Theme URI: http://wordpress.org/themes/yourdaydesign
Author: Maria Parshina
Author URI: http://mariaparshina.ml/
Description:
Version: 1.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags:
Text Domain: yourdaydesign

YourDayDesign WordPress Theme © 2016 Maria Parshina
YourDayDesign is distributed under the terms of the GNU GPL
*/
@@font-face {
	font-family: Calibri;
	src: url(/fonts/calibril.ttf);
}

@@font-face {
	font-family: Aquarelle;
	src: url(/fonts/aquarelle.ttf);
}

@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Full-screen video background */

#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}


/*COMMON STYLES */
body {
	background-color: #fff;
	font-family: Calibri;
	font-size: 16px;
	color: #808080;
	height: 100%;
	/*font-family:'Didot W01 Roman';
	font-family:'Didot W01 Italic';
	font-family:'Didot W01 Bold';
	font-family:'Didot W01 Headline';
	font-family:'Didot Open Face W01';
	font-family:'Linotype Didot W01SC Rm SC';
	font-family:'Didot W01 Bold Italic';
	font-family:'LinotypeDidotW95-Orname';
	font-family:'BaskervilleMTW01-Roman';
	font-family:'Baskerville MT W01 It';
	font-family:'Baskerville MT W01 SmBd';
	font-family:'BaskervilleMTW01-SmBdIt';
	font-family:'Baskerville MT W01 Bd';
	font-family:'BaskervilleMTW01-BdIt';*/
}
body.page-template-about {
	background-position: right bottom;
	background-repeat: no-repeat;
}

.bg {
	width: 146%;
	height: 86.5%;
	position: absolute;
	margin-left: -25%;
	margin-right: -25%;
	margin-top: -8%;
	z-index: -1;
	background-image: url(images/pattern_1.jpg);
	opacity: 0.12;
}

a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #E6EBED;
}
p {
	font-size: 0.950em;
	letter-spacing: 0.1em;
	line-height: 1.6em;
	padding-bottom: 29px;
	font-family: Calibri;
}
h1 {
	font-family: Aquarelle;
	font-size: 1.75em;
	letter-spacing: 0.1em;
	/*text-transform: uppercase;*/
}
h2 {
	font-family: Aquarelle;
	font-size: 1.25em;
	letter-spacing: 0.1em;
	padding-bottom: 3px;
	line-height: 1.6;
}
h4 {
	font-family: Aquarelle;
	font-size: 1.3em;
	letter-spacing: 0.18em;
	text-align: center;
	padding-bottom: 16px;
	padding-top: 10px;
}
h5 {
	font-family:'Didot W01 Italic';
	font-size: 0.625em;
	text-align: center;
	margin-bottom: 12px;

}
strong {
	font-family:'Didot W01 Bold';
}
em {
	font-family:'Didot W01 Italic';
}
.container {
	position: relative;
	width: 998px;
	max-width: 96%;
	margin: 0 auto;
}
/*HEADER*/

#language-switcher {
	text-align: right;
	margin-top: 10px;
}

#language-switcher li {
	display: inline-block;
	margin: 10px 0px 10px 35px;
}

#language-switcher li a {
		color: #AEB6BF;
		font-family: Aquarelle;
		font-size: 1.3em;
		letter-spacing: 2px
}
#language-switcher li a:hover {
	color: #e7a9af;
}

header {
	position: relative;
	margin-bottom: 82px;
}
/*.page-template-home header {
	display: none;
}*/
.nav-elements {
	margin-top: 4%;
}

.logo {
	position: absolute;
	width: 319px;
	height: 180px;
	left: 50%;
	top: 25%;
	margin-left: -159.5px;
	margin-top: -38.5px;
	overflow: hidden;
	/*text-indent: -1000px;*/
	background-image: url(images/logo-white.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.mobile-nav {
	display: none;
}
.header-nav {
	font-family: Calibri;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 2.4;
	padding: 20px 0 62px 0;
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
	color: #AEB6BF;
	position: absolute;
	top: 50px;
}
.social {
	position: absolute;
	top: 50%;
	margin-top: -45px;
	right: 0;
	text-align: right;
}
.social li {
	font-size: 1.2em;
	line-height: 1.4;
}

.social li a {
	color: #c47d83;
}
.social li a:hover {
	color: #E6EBED;
}
.mobile-social {
	display: none;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
}
.mobile-social li {
	display: inline-block;
	margin-right: 5px;
}
.location-bar {
	font-family:'BaskervilleMTW01-Roman';
	width: 100%;
	color: #AEB6BF;
	border-top: 1px solid #AEB6BF;
	border-bottom: 1px solid #AEB6BF;
	font-variant: small-caps;
	font-size: 0.938em;
	letter-spacing: 0.25em;
	padding: 10px 0;
}
.location-left {
	font-family: Calibri;
	letter-spacing: 7px;
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding-left: 6px;
}
.location-left span {
	font-size: 0.5em;
	vertical-align: middle;
}
.location-right {
	font-family: Calibri;
	letter-spacing: 7px;
	width: 50%;
	text-align: right;
	margin-left: 50%;
	box-sizing: border-box;
	padding-right: 6px;
}
/*FOOTER*/
footer {
	position: relative;
	width: 100%;
	margin-top: 115px;
	clear: both;
	padding-bottom: 31px;
}
.footer-left,
.footer-right {
	font-family:'BaskervilleMTW01-Roman';
	color: #AEB6BF;
	border-top: 1px solid #AEB6BF;
	border-bottom: 1px solid #AEB6BF;
	font-size: 0.725em;
	letter-spacing: 0.163em;
	padding: 10px 0;
	box-sizing: border-box;
	text-align: center;
	width: 38.4%;
	text-transform: uppercase;
}
.footer-left {
	margin-left: 4%;
	float: left;
}
.footer-right {
	margin-left: 57.6%;
}
.footer-right span {
	font-family:'Didot W01 Italic';
	text-transform: none;
	font-size: 1em;
}
.footer-right a {
	color: #AEB6BF;
}
.footer-middle {
	width: 48px;
	height: 48px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	left: 50%;
	top: -8px;
	margin-left: -24px;
}
.credit {
	font-family:'Didot W01 Bold';
	text-align: center;
	font-size: 0.5em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #AEB6BF;
	margin-top: 30px;
}
.credit a {
	color: #AEB6BF;
}

/*COMMON PAGE STYLES*/
.page-features {
	width: 30%;
	float: left;
	box-sizing: border-box;
	padding: 0 0.4% 0 0.4%;
}
.feature-image {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #E6EBED;
	padding: 2px;
	font-size: 0;
	margin-bottom: 17px;
}
.feature-image img {
	max-width: 100%;
	height: auto;
}
.page-features p {
	font-size: 1.250em;
	text-align: center;
	letter-spacing: 0.025em;
	line-height: 1.5;
	padding: 0 12px 39px 12px;
}
.page-features a {
	color: black;
}
.page-content {
	margin-left: 32%;
	position: relative;
	padding-left: 4%;
	min-height: 706px;
}
.page-content::after {
	content: '';
	display: block;
	position: absolute;
	height: 91%;
	width: 1px;
	top: 0;
	left: 0;
	border-left: 1px solid #E6EBED;

}
.columns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 48px; /* Chrome, Safari, Opera */
    -moz-column-gap: 48px; /* Firefox */
    column-gap: 48px;
    text-align: justify;
}
.columns p {
	/*-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;*/
}
/*CONTACT*/

.feature-telephone p {
	font-family: Calibri;
	font-size: 1em;
	letter-spacing: 2px;
}

.feature-email {
	position: relative;
	padding-top: 39px;
}
.feature-email::after {
	content: '';
	display: block;
	position: absolute;
	width: 52%;
	height: 1px;
	border-top: 1px solid #E6EBED;
	left: 24%;
	top: 0;
}
.feature-email p {
	font-size: 0.833em;
	text-transform: uppercase;
	letter-spacing: 0.2em;

}
.contact-form {
	margin-top: 32px;
}
.contact-form table {
	width: 100%;
}
.contact-form table tr > td:first-child {
	width: 19%;
	text-align: right;
	padding-right: 13px;
	padding-bottom: 8px;
}
.contact-form table td {
	padding-top: 34px;
	border-right: 1px solid #edf0f1;
	border-bottom: 1px solid #edf0f1;
}
.contact-form table tr > td:last-child {
	border-right: none;
	padding-bottom: 0;
}
.contact-form table tr.first-row td {
	padding-top: 0;
}
.contact-form table tr.last-row td {
	padding-top: 0;
	border-bottom: none;
	padding-bottom: 0;
}
.contact-form label {
	font-family:'Baskerville MT W01 It';
	font-size: 0.854em;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="date"] {
	font-family:'Baskerville MT W01 It';
	font-size: 14px;
	color: #808080;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 4px 0 0 13px;
	border: none;
	background: none;
	-webkit-appearance: none;
	border-radius: 0;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form input[type="date"]:focus {
	outline: 0;
	border: none;
}
.contact-form textarea {
	font-family:'Baskerville MT W01 It';
	font-size: 14px;
	height: 225px;
	width: 100%;
	box-sizing: border-box;
	padding: 19px 39px;
	background: none;
	color: #808080;
	border: 1px solid #edf0f1;
	margin-top: 28px;
	-webkit-appearance: none;
	border-radius: 0;
	resize: none;
}
.contact-form textarea:focus {
	outline: 0;
	border: 1px solid #edf0f1;
}
.right-button {
	text-align: right;
	position: relative;
}
.contact-form input[type="submit"] {
	font-family:'Didot W01 Roman';
	font-size: 12px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background: none;
	color: #808080;
	cursor: pointer;
	border: none;
	border-bottom: 1px solid #edf0f1;
	padding: 9px 0;
	display: inline-block;
	-webkit-appearance: none;
	border-radius: 0;
}
div.wpcf7 img.ajax-loader {
	position: absolute;
	right: 23px;
	top: 35px;
}
span.wpcf7-not-valid-tip {
	display: none !important;
}
div.wpcf7-mail-sent-ok {
	border: 1px solid #edf0f1 !important;
	font-family:'Baskerville MT W01 It';
	font-size: 14px;
	color: #808080;
}

div.wpcf7-mail-sent-ng {
	border: 1px solid #edf0f1 !important;
	font-family:'Baskerville MT W01 It';
	font-size: 14px;
	color: #808080;
}

div.wpcf7-spam-blocked {
	border: 1px solid #edf0f1 !important;
	font-family:'Baskerville MT W01 It';
	font-size: 14px;
	color: #808080;
}

div.wpcf7-validation-errors {
	border: 1px solid #f7e700 !important;
	font-family:'Baskerville MT W01 It';
	font-size: 14px;
	color: #808080;
}

/*   SERVICES   */

#service-sets {
	width: 100%;
	height: 350px;
	background-color: #e7a9af;
}
#service-sets h1 {
	color: #fff;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 3%;
	margin-top: 2%;
}
#service-sets ul li {
	display: inline-block;
	width: 25%;
	margin-left: 5%;
	vertical-align: top;
	padding: 1%;
	border-right: 1px solid rgba(255, 255, 255, 0.8);
}
.columns ul li {
	list-style-type: circle;
	padding: 5px;
}

/*GALLERIES INCLUDING HOME*/
.gallery {
	font-size: 0;
	box-sizing: border-box;
}
.home-tiles {
	width: 100%;
	font-size: 0;
	padding-top: 0px;
}
.image {
	margin-right: 1.181818182%;
	margin-bottom: 1.181818182%;
	display: inline-block;
	vertical-align: top;
}
.image a:hover img {
	opacity: 0.7;
}
#home-gallery .image {
	margin-right: 2.323%;
}
#single-gallery .image {
	margin-right: 2.4133%;
	margin-bottom: 2.4133%;
}
.image:last-child,
#home-gallery .image:last-child,
#single-gallery .image:last-child {
	margin-right: 0;
}
.image img {
	width: 100%;
	height: auto;
}
.gallery_label {
	box-sizing: border-box;
	font-family:'Didot W01 Bold';
	font-size: 10.93px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 8px 7px;
	border-left: 1px solid #E6EBED;
	border-bottom: 1px solid #E6EBED;
	border-right: 1px solid #E6EBED;
	margin-bottom: 26px;
}
.gallery_label a {
	color: #808080;
}
.gallery_label a:hover {
	color: #55565a;
}
.page-features h1 {
	font-size: 1.25em;
	text-align: center;
	letter-spacing: 0.025em;
	line-height: 1.5;
	padding: 0 12px 5px 12px;
	position: relative;
	margin-bottom: 20px;
}
.page-features h1::after {
	content: '';
	display: block;
	position: absolute;
	width: 65%;
	height: 1px;
	left: 17.5%;
	bottom: 0;
	border-bottom: 1px solid #E6EBED;
}
.gallery-features {
	position: relative;
}
.gallery-features::after {
	content: '';
	display: block;
	position: absolute;
	width: 65%;
	height: 1px;
	left: 17.5%;
	bottom: 0;
	border-bottom: 1px solid #E6EBED;
}
.gallery-features.has-credits::after {
	border-bottom: none;
}
.gallery-credits {
	position: relative;
	padding-top: 39px;
}
.gallery-credits::after {
	content: '';
	display: block;
	position: absolute;
	width: 65%;
	height: 1px;
	left: 17.5%;
	top: 0;
	border-top: 1px solid #E6EBED;
}
p.gallery-credit {
	font-size: 0.625em;
	text-transform: uppercase;
	letter-spacing: 0.125em;
}
.page-template-gallery .page-content::after {
	display: none;
}
.page-template-gallery .page-content {
	padding-left: 2%;
}
.iframe-container {
	display: flex;
  justify-content: space-around;
	flex-flow: row wrap;
}
.iframe-container:nth-child(2n) {
	clear: right;
}
.iframe-class {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.iframe-class a {
	color: pink;
}
.iframe-class a:hover {
	color: black;
}

/* NEXTGEN GALLERY */

.ngg-album-gallery-image-counter {
	display: none;
}
.ngg-navigation {
	margin-bottom: 5px;
}
.ngg-navigation a.page-numbers,
.ngg-navigation a.next,
.ngg-navigation a.prev,
.ngg-navigation span.page-numbers,
.ngg-navigation span.next,
.ngg-navigation span.prev {
	color: #AEB6BF;
	border: 0 !important;
}
.ngg-navigation a.page-numbers:hover,
.ngg-navigation a.next:hover,
.ngg-navigation a.prev:hover,
.ngg-navigation span.page-numbers:hover,
.ngg-navigation span.next:hover,
.ngg-navigation span.prev:hover {
	background-color: #c47d83 !important;
}
#back-to-gallery {
	margin: 40px 0;
	padding-left: 30px;
}
#back-to-gallery a {
	color: #AEB6BF;
}
#back-to-gallery a:hover {
	color: #c47d83;
}
#gallery-title {
	margin-top: -20px;
	padding-left: 30px;
	font-size: 1.8em;
}
.Thumb:hover {
	opacity: 0.7;
}
.ngg-album-compact a {
	color: #666666;
	font-size: 1.15em;
}
.ngg-album-compact a:hover {
	color: #c47d83;
}
.ngg-album-compact h4 {
	position: absolute;
	padding-left: 3%;
	width: 250px;
	letter-spacing: 0.01em;
	font-size: 1.2em !important;
	line-height: 1.4em;
}
.s2 {
	color: #AEB6BF;
}
.s2:hover {
	color: #c47d83;
}
/*Remove borders around Compact Album preview images*/
.ngg-album-compactbox::before,
.ngg-album-compactbox::after,
.ngg-album-compactbox {
  border: none !important;
}
.ngg-albumoverview {
	display: flex !important;
  justify-content: space-around;
	flex-flow: row wrap;
	border-top: 2px solid black;
	padding-top: 40px !important;
}
.ngg-album-compact {
	margin: auto !important;
	padding: 0 12px 4px 12px !important;
}
.ngg-album-desc {
	display: inline !important;
}
.ngg-galleryoverview {
	margin-top: 20px !important;
	/*If we want flex layout with a bunch of whitespace in the middle*/
	/*justify-content: space-around;
	flex-flow: row wrap;*/
	/*If we want the thumbs simply centered*/
	text-align: center !important;
}
.ngg-gallery-thumbnail-box {
	/*If we want the thumbs simply centered*/
  float: none !important;
  display: inline-block !important;
}
/* Media query spcly for NGG */
@media only screen and (max-width: 715px) {
	.ngg-album-compact h4 {
		padding-left: 6%;
	}
}

/* CONTEST */


.bg_contest {
	background-image: url(images/pattern_1.jpg);
	padding-top: 8%;
	padding-bottom: 8%;
	margin-top: -8.2%;
}

.bg_contest2 {
	background-image: url(images/dotted.png);
	padding-top: 3%;
	padding-bottom: 5%;
}
.bg_contest2 h2 {
	color: red;
	text-align: center;
	font-size: 2em;
}

.banner {
	background-color: #fff;
	border: 2px solid #c8d7e3;
	height: 300px;
	width: 300px;
	margin: auto;
}

.banner h2 {
	font-family: Calibri;
	font-weight: normal;
	color: #c47d80;
	text-align: center;
	text-transform: uppercase;
	padding: 1%;
}

.banner h2 span {
	font-size: 4em;
	letter-spacing: 20px;
	text-align: center;
	color: #ba6b6f;
}

.banner h1 {
	font-size: 5em;
	text-align: center;
	color: red;
}

.banner-ru {
	width: 300px;
	max-width: 97%;
}

.banner-ru h2 span {
	font-size: 3em;
	letter-spacing: 2px;
}


.dotted_ul li {
	padding-left: 10%;
	padding-right: 5%;
	padding-top: 5%;
	font-size: 1.3em;
	width: 100%;
}

div#mti_wfs_colophon {
	display: none !important;
}

@media only screen and (min-width: 1000px) {
	.bg {
		width: 119%;
		height: 82%;
		margin-left: -10%;
		padding: 5px;
	}
}

@media only screen and (max-width: 998px) {
	.container {
		width: 100%;
		max-width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.bg {
		width: 122%;
		height: 82%;
	}
	#service-sets {
		height: 670px;
	}
	#service-sets ul li {
		display: block;
		width: 90%;
		margin-left: 6%;
		vertical-align: top;
		border-right: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	}
}
@media only screen and (max-width: 918px) {
	.footer-left,
	.footer-right {
		width: 80%;
		margin-left: 10%
	}
	.footer-left {
		float: none;
	}
	.footer-right {
		margin-top: 10px;
	}
	.footer-middle {
		top: -55px;
	}
	.bg {
		width: 122.5%;
	}
}
@media only screen and (max-width: 768px) {
	.logo {
		width: 60%;
		height: 60%;
		margin-left: -30%;
	}
	.bg {
		margin-top: -11%;
		height: 89.5%;
		width: 122%;
	}
	.social {
		top: 45%;
	}
	.social li {
		line-height: 1;
	}
	.fa {
		font-size: 0.7em;
	}
}
@media only screen and (max-width: 688px) {
	.logo {
		width: 60%;
		height: 60%;
	}
	.bg {
		margin-top: -12%;
		height: 90.5%;
		width: 120%;
	}
	.bg_contest {
		margin-top: -13.5%;
		width: 124%;
		margin-left: -12%;
	}
}
@media only screen and (max-width: 653px) {
	.bg {
		margin-top: -13%;
		height: 96.2%;
		width: 119.5%;
	}
	.logo {
		/*margin-left: -35%;*/
	}
	h1 {
		text-align: center;
	}
	/*.social {
		display: none;
	}*/
	.header-nav {
		font-size: 1em;
	}
	.mobile-social {
		display: block;
	}
	.mobile-social ul {
		margin-left: -3%;
	}
	.social {
		display: none;
	}
	.nav-elements {
		width: 100%;
		background: white;
		position: absolute;
		top: 95px;
		left: 2.5%;
		z-index: 1000;
		padding: 15px 0;
		display: none;
	}
	.mobile-nav {
		display: block;
		position: absolute;
		left: 0px;
		top: -39px;
		cursor: pointer;
		color: white;
		line-height: 1em;
		font-size: 2em;
	}
	.menu {
		margin-left: 0;
	}
	.menu li {
		margin-left: 0;
		text-align: center;
	}
	.menu li a {
		margin-left: -4%;
		font-family: Calibri;
	}
	.page-features {
		float: none;
		width: 100%;
		text-align: center;
	}
	.page-content {
		margin-left: 0;
		padding-left: 0;
	}
	.page-content h2 {
		font-size: 1.2em;
	}

	.page-content::after {
		display: none;
	}
	.feature-image {
		width: auto;
		display: inline-block;
		max-width: 80%;
	}
	.gallery_label {
		font-size: 8px;
	}
}
@media only screen and (max-width: 600px) {
	.bg_contest {
		width: 114%;
		margin-left: -7%;
	}
}
@media only screen and (max-width: 570px) {
	.columns {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	    -webkit-column-gap: 0; /* Chrome, Safari, Opera */
	    -moz-column-gap: 0; /* Firefox */
	    column-gap: 0;
	}
	.bg {
		margin-top: -15%;
		height: 96.2%;
		width: 119.5%;
	}
	.banner {
		width:250px;
		height: 300px;
	}
	.bg_contest {
		margin-top: -16.5%;
		width: 116%;
		margin-left: -8%;
	}
}
@media only screen and (max-width: 500px) {
	.home-tiles {
		padding-top: 0;
	}
	.home-tiles .image {
		width: 100% !important;
		margin-right: 0;
	}
	.footer-left,
	.footer-right {
		width: 95%;
		margin-left: 2.5%
	}
	.bg {
		margin-top: -17%;
		height: 96.5%;
	}
	.bg_contest {
		margin-top: -19.5%;
		width: 118%;
		margin-left: -9%;
	}
}
@media only screen and (max-width: 431px) {
	.logo {
		width: 40%;
		width: 40%;
		float: left;
		left: 63%;
		/*margin-left: 10%;*/
	}
	.bg {
		margin-top: -20%;
		height: 96.5%;
		width: 119.5%;
	}
	.bg_contest {
		margin-top: -23.5%;
		width: 122%;
		margin-left: -11%;
	}
	.location-bar {
		font-size: 0.8em;
	}
	.nav-elements {
		top: 179px;
	}
	#home-gallery .image {
		width: 100% !important;
		margin-right: 0;
	}
	.footer-right {
		letter-spacing: 0.1em;
		font-size: 0.6em;
	}
	#language-switcher {
		text-align: center;
	}
	#language-switcher li {
		margin-left: 9px;
		margin-right: 9px;
	}
}
@media only screen and (max-width: 414px) {
	.bg {
		margin-top: -25%;
		height: 98%;
		width: 119.5%;
	}
	.logo {
		float: left;
		left: 60%;
		top: 38%;
	}
	.mobile-nav {
		left: 2%;
		top: -15%;
		color: #E6EBED;
	}
	.bg_contest {
		width: 124%;
		margin-left: -40px;
		margin-top: -24.5%;
	}
	.bg_contest2 {
		width: 124%;
		padding-left: 4%;
		margin-left: -15%;
	}
	.dotted_ul li {
		padding-bottom: 5%;
		width: 90%;
	}
	.feature-image {
		display: none;
	}
	#service-sets {
		height: 810px;
	}
	#service-sets ul li {
		padding-top: 20px;
	}
}
@media only screen and (max-width: 380px) {
	.bg_contest {
		width: 126%;
	}
}
@media only screen and (max-width: 330px) {
  .bg_contest {
   width: 137%;
   margin-left: -40px;
   margin-top: -34.5%;
  }
  .bg_contest2 {
   width: 128%;
   padding-left: 4%;
   margin-left: -15%;
  }
  .dotted_ul li {
   padding-bottom: 5%;
   max-width: 90%;
   /*word-break: */
   hyphens: manual;
  }
}
